<footer>
  <div class="footer-content">
    <div class="footer-copyright">COPYRIGHT © 2025 ORDO SAXUM</div>
    <div class="footer-section">
      <ul class="footer-links">
        <li><a href="contact.html" class="footer-link">CONTACT US</a></li>
        <li><a href="about.html" class="footer-link">About</a></li>
        <li><a href="career.html" class="footer-link">Career</a></li>
        <li><a href="expertise.html" class="footer-link">Expertise</a></li>
        <li><a href="faq.html" class="footer-link">FAQ</a></li>
        <li><a href="policies.html" class="footer-link">Legal + Policies</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      3024 Kennedy Rd, Scarborough, ON M1V 4Y2 | <strong><a href="tel:+14163358881">(416) 335-8881</a></strong> | <a href="mailto:info@ordosaxum.ca">info@ordosaxum.ca</a>
    </div>
  </div>
</footer>
