<nav class="navbar">
  <div class="navbar-content">
    <a href="/" class="navbar-logo">
      <span class="logo-text">OrdoSaxum</span>
    </a>

    <div class="hamburger" onclick="toggleMenu()" aria-label="Toggle menu" role="button" tabindex="0">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-menu" id="navMenu">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="natural-stone.html" class="nav-link">Natural Stone</a>
      </li>

      <li class="nav-item">
        <a href="sintered-stone.html" class="nav-link">Sintered Stone</a>
      </li>

      <li class="nav-item">
        <a href="fabrication.html" class="nav-link">Fabrication Mastery</a>
      </li>

      <li class="nav-item">
        <a href="expertise.html" class="nav-link">Expertise</a>
      </li>

      <li class="nav-item">
        <a href="contact.html" class="nav-link">Contact Us</a>
      </li>

      <li class="nav-item">
        <a href="faq.html" class="nav-link">FAQ</a>
      </li>
    </ul>
  </div>
</nav>
