<nav class="navbar">
  <div class="navbar-content">
    <a href="/" class="navbar-logo">
      <span class="logo-text">OrdoSaxum</span>
    </a>

    <div class="hamburger" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-menu" id="navMenu">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="natural-stone.html" class="nav-link">Natural Stone</a>
      </li>

      <li class="nav-item">
        <a href="sintered-stone.html" class="nav-link">Sintered Stone</a>
      </li>

      <li class="nav-item">
        <a href="/index.html#fabrication" class="nav-link">Fabrication Mastery</a>
      </li>

      <li class="nav-item">
        <a href="/index.html#ordosaxum-direct" class="nav-link">OrdoSaxum Direct</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">Designers</a></li>
          <li><a href="#" class="dropdown-item">Wholesale</a></li>
          <li><a href="#" class="dropdown-item">On Sale</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
